body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #00223e;
  /* overflow-x: hidden; 
  overflow-y: hidden;  */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


div.scroll {
  overflow: auto;
  overflow-x: hidden;
  
}


.nav {
  background-color: #041a2d;
  color: #a9153a;
  
  font-family: 'Bungee Shade', cursive;
  box-shadow: 0px 5px 10px rgb(0, 0, 0);
  
}





.left-side-bar {
  background-color: #152f30;
  color: rgb(0, 0, 0);
  box-shadow: 0px 5px 10px rgb(0, 0, 0);
  width: 25rem;
  margin-right: 10px;
  border-radius: 15px;
  height: 48rem;
}





.main {
  color: #0a0808;
  text-shadow: 1px 1px 2px rgb(12, 49, 70), 0 0 1em rgb(167, 197, 190), 0 0 0.2em rgb(196, 196, 231);
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  font-family: 'Timmana', sans-serif;
  justify-content: space-around;
  box-shadow: 0px 5px 10px rgb(0, 0, 0);
  position: relative;
  width: 70%;
  height:48rem;
  
}

/* .marquee{
  background-color: #8a1756;
  box-shadow: 0px 5px 10px rgb(0, 0, 0);
} */

.card-container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin: auto;     
  align-items: center;
}

.delete-btn{
  width: 15rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  
}

.add-form {
 
 height: 100%;

}

.edit-form{
  margin-top: 15px;
  width: 15rem;
}

.card{
  height: 55%;
  background-color: rgb(78, 107, 125);
  border-radius: 3%;
  border-color: #22444a;
  border-width: 10px;
  color: white;
}

.card:hover{
  height: 55%;
  background-color: rgb(172, 194, 206);
  border-radius: 3%;
  text-shadow: 1px 1px 2px rgb(64, 61, 61), 0 0 1em rgb(2, 80, 65), 0 0 0.2em rgb(182, 182, 197);
  border-color: #0a4447;
  border-width: 5px;
  transition: 1s all ease;
  color: #083339;
}


nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-button{
  padding-right: 2%;
  display: flex;
}

.edit-button{
margin-left: 10px;
}

.dropdown-menu{
  background-color: black;
}

.btn-secondary{
margin: 8px;
}

.dropdown-toggle {
  width: 15rem;
}

.all-songs {
  margin-left: 1.5rem;
}

.middle{
  display: flex;
  
}

.marquee-image{
  width: 100%;
  height: 90%;
}
.marquee-container{
  width: 15%;
  margin-left: 30px;
  position: relative;
  height: 5rem;
  overflow: hidden;
  margin-right: 2rem;
}



img {
  object-fit: cover;
  height: 13rem;
}

.spotify-playlist{
  height: 100%;
}

.dropdown-toggle{
  width: 15rem;
}
.scroll{
  overflow: scroll;
}

.edit-button{
  position: fixed;
}

.lyrics-button{
  color: #b0b5b9;
  background-color: #083339 !important;
}

.left-side-buttons{
  margin-bottom: 20px;
  margin-top: 5px;
}

.collapse {
  position: fixed;
  z-index: 999 !important;
}

.playlist {
  border-radius: 15px;
}







::-webkit-scrollbar {
  width: 10px;
  
}
::-webkit-scrollbar-track {
  background: #000000;
}
::-webkit-scrollbar-thumb {
  background: rgb(32, 67, 68);
  border-radius: 10px;
}
::-webkit-scrollbar-corner{
  background-color: #000000;
  width: 0px;
}


.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

@media screen and (max-width:1084px) {
  .marquee-container{
    display:none;
  }
}

@media screen and (max-width:636px) {
  .playlist{
    display: none;
  }  
  .middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .grid{
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .left-side-bar {
    display: none;
  }
}

@media screen and (max-width:499px) {
  .nav {
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: auto;
  }
  .main{
    display: flex;
    width: 80%;

  }
  .card-container{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: auto;
    align-items: center;
  }
  .delete-btn{
    width: 15rem;
  }
  .left-side-bar{
    display: none;
  }

  .marquee-component{
    display: none;
  }
  
  .nav-button{
    padding: 0;
  }

  .nav-title{
    font-size: 1.5rem;
    margin-bottom: 0;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .all-songs{
    margin-left: 0;
  }

 
}

