body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #396284;
  overflow-x: hidden; /* Hide horizontal scrollbar */
   overflow-y: hidden; /* Hide horizontal scrollbar */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


div.scroll {
  overflow: auto;
  overflow-x: hidden;
  
}

.grid {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-rows: 10% 40% 10% ;
  grid-gap: 5px 5px;
  
  
}
.nav {
  background-color: #c6d0d8;
  color: #8a1756;
  grid-column-start: 1;
  grid-column-end: 11;
  box-shadow: 0px 5px 10px rgb(0, 0, 0);
}

.left-side-bar {
  background-color: #1da6ac;
  color: rgb(0, 0, 0);
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  box-shadow: 0px 5px 10px rgb(0, 0, 0);
}

.main {
  color: #1da6ac;
  grid-column-start: 3;
  grid-column-end: 10;
  grid-row-start: 2;
  grid-row-end: 4;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  justify-content: space-around;
  box-shadow: 0px 5px 10px rgb(0, 0, 0);
  overflow-x: hidden;
  width: 100%;
  height: 70%;
  
}
.marquee{
  background-color: #8a1756;
  grid-column-start: 3;
  grid-column-end: 10;
  color: white;
  grid-row-start: 3;
  grid-row-end: 4;
  box-shadow: 0px 5px 10px rgb(0, 0, 0);
}

.card-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 10px;
  margin: auto;
}

.buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  
}

.add-form {
 
 height: 100%;

}

.card{
  height: 75%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-button{
  padding-right: 2%;
}



::-webkit-scrollbar {
  width: 10px;
  
}
::-webkit-scrollbar-track {
  background: #000000;
}
::-webkit-scrollbar-thumb {
  background: rgb(32, 67, 68);
  border-radius: 10px;
}
::-webkit-scrollbar-corner{
  background-color: #000000;
  width: 0px;
}